.contents {
  position: relative;
  z-index: 2;
}
.contents.hide {
  position: fixed;
  top: 100vh;
}
.logo-div {
  max-width: 500px;
  margin: 0 auto;
}
.short-text-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.short-text-grid img {
  max-height: 400px;
}
.mann-talk-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.key-char-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.key-char-card {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 130px;
}
.key-char-grid > div:last-child {
  grid-area: 3 / 2 / 4 / 3;
}
.key-char-grid .icon {
  width: 50px;
}
.debt-stress-card {
  background: #00000080;
  border-radius: 6px;
  padding: 8px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.form-container {
  max-width: 500px;
  width: 100%;
}
.mann-talk-logo {
  width: 400px;
}
.mindfull-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.mindfull-video video {
  width: 100%;
}
.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.faq-grid > div:first-child img {
  max-height: 320px;
}
.media-card img {
  filter: brightness(0) saturate(100%) invert(34%) sepia(74%) saturate(2853%)
    hue-rotate(342deg) brightness(96%) contrast(97%);
}
.initiative-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.movement-img img {
  max-height: 400px;
}
.swiper-pagination-bullet {
  background: #fff !important; /* default color */
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--red) !important; /* active dot color */
}
.blog-card .blog-img,
.blog-card .background {
  height: 200px;
}
.blog-card .blog-img img {
  transition: var(--transition);
}
.blog-card .background {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  transition: var(--transition);
}
.blog-card:hover .background {
  background: #000;
}
.blog-card:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 1200px) {
  .key-char-card {
    height: 130px;
  }
  .faq-grid > div:first-child img {
    min-height: 340px;
  }
  .mindfull-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 992px) {
  .key-char-grid > div:last-child {
    grid-area: unset;
  }
  .key-char-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .mann-talk-flex {
    flex-direction: column;
  }
  .faq-grid {
    grid-template-columns: 1fr;
  }
  .faq-grid > div:first-child img {
    min-height: 300px;
    max-height: 300px;
  }
  .initiative-grid {
    grid-template-columns: 1fr;
  }
  .short-text-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .movement-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .key-char-grid {
    grid-template-columns: 1fr;
  }
  .key-char-card {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .key-char-card .icon {
    margin: 0 auto;
  }
  .mann-talk-logo {
    width: 100%;
  }
}
