/* .contents {
  position: relative;
  z-index: 2;
}
.contents.hide {
  position: fixed;
  top: 100vh;
} */
.logo-div {
  max-width: 500px;
  margin: 0 auto;
}
.short-text-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.mann-talk-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.key-char-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.key-char-card {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 100px;
}
.key-char-grid > div:last-child {
  grid-area: 3 / 2 / 4 / 3;
}
.key-char-grid .icon {
  width: 40px;
  grid-row-end: 40px;
}
.debt-stress-card {
  background: #00000080;
  border-radius: 6px;
  padding: 8px;
  height: 110px;
}
.debt-stress-card p:first-child {
  color: var(--red) !important;
  font-size: 18px;
}
.movement-img img {
  width: 100%;
  height: 400px;
}
.movement-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.form-container {
  max-width: 500px;
  width: 100%;
  margin: 24px auto;
}
.mann-talk-logo {
  width: 400px;
}
.mindfull-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.mindfull-video video {
  max-width: 500px;
}
.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}
.faq-grid > div:first-child img {
  max-height: 320px;
}
.media-card img {
  filter: brightness(0) saturate(100%) invert(34%) sepia(74%) saturate(2853%)
    hue-rotate(342deg) brightness(96%) contrast(97%);
}
@media screen and (max-width: 1200px) {
  .key-char-card {
    height: 130px;
  }
  .faq-grid > div:first-child img {
    min-height: 340px;
  }
}
@media screen and (max-width: 992px) {
  .short-text-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .key-char-grid > div:last-child {
    grid-area: unset;
  }
  .key-char-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .mann-talk-flex,
  .mindfull-flex {
    flex-direction: column;
  }
  .faq-grid {
    grid-template-columns: 1fr;
  }
  .faq-grid > div:first-child img {
    min-height: 300px;
    max-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .short-text-grid {
    grid-template-columns: 1fr;
  }
  .short-text-grid img {
    max-height: 400px;
  }
  .movement-grid {
    grid-template-columns: 1fr;
  }
  .mindfull-video video {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .key-char-grid {
    grid-template-columns: 1fr;
  }
  .key-char-card {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .key-char-card .icon {
    margin: 0 auto;
  }
  .mann-talk-logo {
    width: 100%;
  }
}
